mixin channel-list()
  -
    const list = [
      {
        image: {
          src: "tv-yamal",
          format: "webp",
          width: "26",
          height: "27",
          alt: "логотип Ямал"
        },
        text: "Ямал"
      },
      {
        image: {
          src: "tv-my-planet",
          format: "webp",
          width: "38",
          height: "30",
          alt: "логотип Моя планета HD"
        },
        text: "Моя планета HD"
      },
      {
        image: {
          src: "tv-multmusic",
          format: "webp",
          width: "85",
          height: "30",
          alt: "Логотип Мультимузыка"
        },
        text: "Мультимузыка"
      },
      {
        image: {
          src: "tv-auto+",
          format: "webp",
          width: "69",
          height: "30",
          alt: "Логотип Авто+"
        },
        text: "Авто+"
      },
      {
        image: {
          src: "tv-7",
          format: "webp",
          width: "28",
          height: "31",
          alt: "Логотип 7 ТВ"
        },
        text: "7 ТВ"
      },
      {
        image: {
          src: "tv-russia-culture",
          format: "webp",
          width: "111",
          height: "30",
          alt: "Логотип Россия-Культура"
        },
        text: "Россия-Культура"
      },
      {
        image: {
          src: "tv-thb-planet",
          format: "webp",
          width: "49",
          height: "28",
          alt: "Логотип ТВН Планета"
        },
        text: "ТВН Планета"
      },
      {
        image: {
          src: "tv-our-new-movie",
          format: "webp",
          width: "49",
          height: "28",
          alt: "Логотип Наше новое кино"
        },
        text: "Наше новое кино"
      },
      {
        image: {
          src: "tv-auto-24",
          format: "webp",
          width: "78",
          height: "28",
          alt: "Логотип Авто 24"
        },
        text: "Авто 24"
      },
      {
        image: {
          src: "tv-nostalgia",
          format: "webp",
          width: "174",
          height: "28",
          alt: "Логотип Ностальгия"
        },
        text: "Ностальгия"
      },
      {
        image: {
          src: "tv-yamal-1",
          format: "webp",
          width: "32",
          height: "28",
          alt: "Логотип Ямал 1 HD"
        },
        text: "Ямал 1 HD"
      },
      {
        image: {
          src: "tv-8",
          format: "webp",
          width: "32",
          height: "28",
          alt: "Логотип 8 канал"
        },
        text: "8 канал"
      },
      {
        image: {
          src: "tv-drive",
          format: "webp",
          width: "75",
          height: "20",
          alt: "Логотип Драйв"
        },
        text: "Драйв"
      },
      {
        image: {
          src: "tv-history",
          format: "webp",
          width: "32",
          height: "28",
          alt: "Логотип История"
        },
        text: "История"
      },
      {
        image: {
          src: "tv-living-planet",
          format: "webp",
          width: "34",
          height: "28",
          alt: "Логотип Живая планета"
        },
        text: "Живая планета"
      },
      {
        image: {
          src: "tv-who-is-who",
          format: "webp",
          width: "32",
          height: "28",
          alt: "Логотип Кто есть кто"
        },
        text: "Кто есть кто"
      },
      {
        image: {
          src: "tv-360",
          format: "webp",
          width: "38",
          height: "20",
          alt: "Логотип Телеканал 360HD"
        },
        text: "Телеканал 360HD"
      },
      {
        image: {
          src: "tv-ren",
          format: "webp",
          width: "25",
          height: "27",
          alt: "Логотип РЕН ТВ"
        },
        text: "РЕН ТВ"
      },
      {
        image: {
          src: "tv-rtg",
          format: "webp",
          width: "85",
          height: "29",
          alt: "Логотип RTG TV"
        },
        text: "RTG TV"
      },
      {
        image: {
          src: "tv-doctor",
          format: "webp",
          width: "32",
          height: "29",
          alt: "Логотип Доктор"
        },
        text: "Доктор"
      },
      {
        image: {
          src: "tv-nano",
          format: "webp",
          width: "35",
          height: "29",
          alt: "Логотип Nano TV"
        },
        text: "Nano TV"
      },
      {
        image: {
          src: "tv-theater",
          format: "webp",
          width: "12",
          height: "29",
          alt: "Логотип ТЕАТР"
        },
        text: "ТЕАТР"
      },
      {
        image: {
          src: "tv-russia-24",
          format: "webp",
          width: "136",
          height: "29",
          alt: "Логотип Россия 24"
        },
        text: "Россия 24"
      },
      {
        image: {
          src: "tv-belarus-24",
          format: "webp",
          width: "32",
          height: "29",
          alt: "Логотип Беларусь 24"
        },
        text: "Беларусь 24"
      }
    ]

  section.channel-list
    .container
      .channel-list__wrapper
        h2.title.title--t1 Список каналов
        .channel-list__tabs(data-tabs="parent")
          +custom-select({
            name: "channel-list",
            placeholder: "Категории каналов",
            isTabsControl: "true",
            optionsList: [
              {
                value: "all",
                text: "Все"
              },
              {
                value: "educational",
                text: "Познавательные"
              },
              {
                value: "information",
                text: "Информационные"
              },
              {
                value: "childish",
                text: "Детские"
              },
              {
                value: "entertainment",
                text: "Развлекательные"
              },
              {
                value: "musical",
                text: "Музыкальные"
              },
              {
                value: "sport",
                text: "Спортивные"
              },
              {
                value: "movie",
                text: "Кино"
              },
              {
                value: "hd-channels",
                text: "HD-каналы"
              }
            ]
          }).channel-list__select
          .channel-list__content(data-tabs="content")
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
            .channel-list__element(data-tabs="element")
              ul.list-reset.channel-list__list
                each item in list
                  li.channel-list__item
                    .channel-list__image-wrapper
                      +img("content/channel-list", item.image.src, item.image.format, item.image.width, item.image.height, item.image.alt)
                    p.channel-list__text!=item.text
