mixin intro(data)
  -
    const list = [
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "740",
          height: "678",
          alt: "background"
        }
      },
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "740",
          height: "678",
          alt: "background"
        }
      },
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "740",
          height: "678",
          alt: "background"
        }
      },
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "740",
          height: "678",
          alt: "background"
        }
      },
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "740",
          height: "678",
          alt: "background"
        }
      },
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "740",
          height: "678",
          alt: "background"
        }
      },
      {
        title: "Север-Связь",
        description: "Интернет, телевидение и&nbsp;видеонаблюдение для жизни и&nbsp;бизнеса",
        image: {
          src: "intro-background",
          format: "webp",
          width: "548",
          height: "528",
          alt: "background"
        }
      }
    ]

  section.intro&attributes(attributes)
    if (currentUrl === "index.html")
      h1.visually-hidden Север-Связь
      .intro__slider.swiper(data-slider="intro")
        .intro__slides.swiper-wrapper
          each item in list
            .intro__slide.swiper-slide
              a.intro__link(href="#")
                .intro__info
                  .container
                    .intro__wrapper
                      h2.title.title--h1.intro__title!=item.title
                      p.intro__description!=item.description
                      +btn({type: "button", text: "Подключить сейчас"}).intro__button Подключить сейчас
              .intro__image-wrapper
                picture
                  source(media="(max-width: 767px)" srcset="img/content/intro/intro-background-mobile.webp")
                  source(media="(max-width: 1023px)" srcset="img/content/intro/intro-background-tablet.webp")
                  img(src="img/content/intro/intro-background.webp", width="740" height="678")
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
    else
      .container
        .intro__wrapper
          .intro__info
            h1.title.title--h2.intro__title!=data.title
            if (data.circle)
              .intro__circle
                span.intro__text!=data.circle.text
                span.intro__text.intro__text--small!=data.circle.subtext
            if (currentUrl === "internet-and-tv.html")
              .intro__image-wrapper
                +img('content/intro', data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
            if (data.list)
              ul.intro__list
                each item in data.list
                  li.intro__item!=item
            if (data.button)
              +btn({href: "#", text: "Подключить"})(data-open-modal="request").intro__button
          if (currentUrl !== "internet-and-tv.html")
            .intro__image-wrapper
              +img('content/intro', data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
            if (data.imageTablet)
              .intro__image-wrapper.intro__image-wrapper--tablet
                +img('content/intro', data.imageTablet.src, data.imageTablet.format, data.imageTablet.width, data.imageTablet.height, data.imageTablet.alt)
            if (data.imageMobile)
              .intro__image-wrapper.intro__image-wrapper--mobile
                +img('content/intro', data.imageMobile.src, data.imageMobile.format, data.imageMobile.width, data.imageMobile.height, data.imageMobile.alt)
